@use "../utilities/mixins";
@use "../utilities/variables";

footer{
    @include mixins.flex(row, flex-start, center);
    background-color: #471758;
    color: white;
    width: auto;
    height: 30px;
    font-family: variables.$typo1;
    letter-spacing: 1px;
    margin-top: 15px;
    p{
        margin-left: 15px;
        font-size: 20px;
    }
}