footer{
    @include flex(row, flex-start, center);
    background-color: #471758;
    color: white;
    width: auto;
    height: 30px;
    font-family: $typo1;
    letter-spacing: 1px;
    p{
        margin-left: 15px;
        font-size: 20px;
    }
}
.copy-font{
    font-family: "Arial";
    color: white;
    font-size: 16px;
}