.imgWeapon{
    @include flex(row, center, normal);
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 40px;
    gap: 2.5vw;
    img{
        width: 11vw;
        height: 11vw;
        object-fit: fill;
        border:5px solid white;
        border-radius: 20%;
        box-shadow: 10px 10px 10px black;
        &:hover{
            transition: .2s;
            width: 12vw;
            height: 12vw;
        }
        &:not(:hover){
            transition: .3s;
        }
    }
}