@use "../utilities/mixins";
@use "../utilities/variables";

.soundBox{
    @include mixins.flex(column, flex-start, normal);
    background-color: #471758;
    padding: 20px;
    gap: 10px;
    margin-bottom: 40px;
    margin-left: 10%;
    margin-right: 10%;
    border: 20px solid white;
    border-radius: 60px;
    iframe{
        height: 20vw;
    }
}
.listeners{
    @include mixins.flex(row, flex-end, normal);
    font-family: variables.$typo1;
    font-size: 3vw;
    color: white;
    margin-right: 10px;
    -webkit-text-stroke: .18vw black;
}
.textRanking{
    font-family: variables.$typo1;
    color: white;
    font-size: 5vw;
    -webkit-text-stroke: .2vw black;
}