.imgLogo{
    background-color: white;
    border-radius: 30px;
    height: 15vw;
    width: 30vw;
    object-fit: contain;
    border: 5px solid black;
    aspect-ratio: 16/9;
}
.reviewBox{
    @include flex(row, space-evenly, center);
    margin-left: 60px;
    margin-right: 60px;
    gap: 20px;
    p{
        @include flex(row, flex-end, center);
        font-family: $typo1;
        color: white;
        -webkit-text-stroke: black 1.5px;
        height: 160px;
        text-align: start;
        font-size: 2.2vw;
    }
}
.imgScore{
    height: 7vw;
    width: 7vw;
}
.opinionBox{
    @include flex(column, flex-start, center);
    background-color: #420043;
    margin-right: 60px;
    margin-left: 60px;
    justify-items: center;
    margin-bottom: 60px;
}
.scoreBox{
    margin: 30px;
    display: flex;
    gap: 2vw;
    font-family: "Arial";
    color: white;
    font-size: 70px;
    
}
.redScore1, .redScore2, .redScore3, .redScore4{
    background-color: red;
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    text-align: center;
    font-size: 4vw;
    color: white;
    box-shadow: 6px 6px white;  
}
.redScore1:hover, .redScore2:hover, .redScore3:hover, .redScore4:hover{
    background-color: rgb(255, 59, 59);
    transition: .1s;
    transform: scale(1.1,1.1);
}
.redScore1:active, .redScore2:active, .redScore3:active,.redScore4:active{
    transform: translateY(4px);
    box-shadow: 0px 0px rgb(0, 0, 0);
}

.redScore1:not(:hover){
    transition: .1s
}
.yellowScore5, .yellowScore6, .yellowScore7{
    @extend .redScore1;
    background-color: rgb(255, 217, 0);
    color: grey;  
}
.yellowScore5:hover, .yellowScore6:hover, .yellowScore7:hover{
    background-color:rgb(245, 228, 129); 
}

.greenScore8, .greenScore9, .greenScore10{
    @extend .redScore1;
    background-color: green;
}

.greenScore8:hover, .greenScore9:hover,.greenScore10:hover{
    background-color: rgb(4, 219, 4);
}

textarea{
    width: 70vw;
    font-size: 1.2vw;
}
.giveOpinion{
    @include flex(row, flex-start, center);
    background-color: #F765B8;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 3.5vw;
    font-family: $typo1;
    color: #FF00B5;
    -webkit-text-stroke: black .15vw;
}
.buttonFlex{
    @include flex(row, flex-end, normal);
    width: 100%;
    margin: 30px;
    input{
        @include flex(row, center, center);
        background-color: #F765B8;
        border: 3px solid black;
        font-family: $typo1;
        font-size: 20px;
        color: black;
        border-radius: 20px;
        height: 50px;
        width: 100px;
        margin-right: 60px;
        &:hover{
            transition: .2s;
            background-color: #00FFEE;
            transform: scale(1.1,1.1);
        }
        &:active{
            transition: 0s;
            transform: scale(1,1);
            background-color: #00998f;
        }
    }
    
}