.mainTitle{
    background-image: url(https://cdn.discordapp.com/attachments/482724249723994122/1066867452857811074/backTitle_WEBP.webp);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-row: 1fr 1fr;
    justify-items: center;
    height: 100vh;
}
.center{
    max-width: 60rem;
}
.arrow{
    width: 4rem;
    rotate: 90deg;
    margin-bottom: 20px;
    &:hover{
        transition: .3s;
        transform: translate(-20px,0);
    }
    &:not(:hover){
        transition: .3s;
    }
}
.indexBox{
    display: flex;
    font-family: "Justice Italic";
    color: white;
    font-size: 30px;
    -webkit-text-stroke: 1.5px black;
    margin: 60px;
    text-align: center;
    align-items: center;
    img{
        height: 200px;
    }
}
.cardFlex{
    display: flex;
    justify-content: space-between;
    font-family: "Justice Italic";
    font-size: 40px;
    color: white;
    -webkit-text-stroke: 2px black;
    margin: 60px;
    flex-wrap: wrap;
}
.reviewCard{
    background-color: #DBFF00;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    background-image: url(https://cdn.discordapp.com/attachments/482724249723994122/1059789867657199646/thumb_review.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-width: 5px ;
    border-style: solid;
    -webkit-text-stroke: 2px black;
    border-image: linear-gradient( #ff00b5, #00fff0) 1;
    box-shadow: 20px 20px 10px black;
}
.maskCard{
    background-color: #DBFF00;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    background-image: url(https://media.discordapp.net/attachments/482724249723994122/1059793748285992960/thumb_mask.webp?width=480&height=480);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-width: 5px ;
    border-style: solid;
    -webkit-text-stroke: 2px black;
    border-image: linear-gradient( #ff00b5, #00fff0) 1;
    box-shadow: 20px 20px 10px black;
}
.weaponCard{
    background-color: #DBFF00;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    background-image: url(https://media.discordapp.net/attachments/482724249723994122/1059793748659290152/thumb_weapons_resize.jpg?width=339&height=480);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-width: 5px ;
    border-style: solid;
    -webkit-text-stroke: 2px black;
    border-image: linear-gradient( #ff00b5, #00fff0) 1;
    box-shadow: 20px 20px 10px black;
}
.soundCard{
    background-color: #DBFF00;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    background-image: url(https://media.discordapp.net/attachments/482724249723994122/1059793748986441788/thumb_soundtrack_alter.png?width=480&height=480);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-width: 5px ;
    border-style: solid;
    -webkit-text-stroke: 2px black;
    border-image: linear-gradient( #ff00b5, #00fff0) 1;
    box-shadow: 20px 20px 10px black;
}
.cardFlex:hover > :not(:hover){
    transition: .3s;
    opacity: 0.5;
}
.reviewCard{
    &:hover{
        transition: .3s;
        transform: scale(1.2,1.2);
    }
    &:not(:hover){
        transition: .3s;
    }
}
.maskCard{
    &:hover{
        transition: .3s;
        transform: scale(1.2,1.2);
    }
    &:not(:hover){
        transition: .3s;
    }
}
.weaponCard{
    &:hover{
        transition: .3s;
        transform: scale(1.2,1.2);
    }
    &:not(:hover){
        transition: .3s;
    }
}
.soundCard{
    &:hover{
        transition: .3s;
        transform: scale(1.2,1.2);
    }
    &:not(:hover){
        transition: .3s;
    }
}