@use "../utilities/mixins";
@use "../utilities/variables";
@use "../base/typo";

.mainTitle{
    background-image: "../../assets/img/index/backTitle.webp";
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-row: 1fr 1fr;
    justify-items: center;
    height: 100vh;
}
.center{
    width: 70vw;
}
.arrow{
    width: 60px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: lightgray;
    border: solid white 3px;
    border-radius: 15px;
    &:hover{
        transition: .1s;
        transform: translate(0px,-10px);

    }
    &:not(:hover){
        transition: .2s;
    }
}
.presentation{
    margin-top: 0rem;
    padding-top: 3rem;
}
.HMdescription{
    @include mixins.flex(row, center, center);
    margin-right: 6rem;
    margin-left: 6rem;
    font-family: variables.$typo1;
    color: white;
    font-size: typo.$font-text;
    -webkit-text-stroke: 1.5px black;
    text-align: center;
    img{
        height: 12vw;
    }
}
.videoFlex{
    @include mixins.flex(row, center, normal);
    margin-top: 2rem;
    iframe{
        border: solid white 10px;
        border-radius: 60px;
        height: 30vw;
        width: 45vw;
    }
}
.indexBox{
    @include mixins.flex(row, flex-start, center);
    font-family: variables.$typo1;
    color: white;
    font-size: typo.$font-text;
    -webkit-text-stroke: 1.5px black;
    margin-right: 6rem;
    margin-left: 6rem;
    text-align: center;
    img{
        height: 14vw;
    }
}
.cardFlex{
    margin-right: 10%;
    margin-left: 10%;
    @include mixins.flex(row, center, normal);
    justify-content: space-evenly;
    font-family: variables.$typo1;
    font-size: typo.$font-text;
    color: white;
    -webkit-text-stroke: 2px black;
    margin-bottom: 4rem;
    flex-wrap: wrap;
}
.reviewCard{
    @include mixins.flex(row, center, center);
    width: 15vw;
    aspect-ratio: 5/7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-width: 5px ;
    border-style: solid;
    -webkit-text-stroke: 2px black;
    border-image: linear-gradient( #ff00b5, #00fff0) 1;
    box-shadow: 20px 20px 10px black;
    background-image: "../../assets/img/index/cardReview.webp";
}
.maskCard{
    @extend .reviewCard;
    background-image: "../../assets/img/index/cardMask.webp", radial-gradient(circle, rgba(255,255,0,1) 60%, rgba(255,122,1,1) 100%);

}
.weaponCard{
    @extend .reviewCard;
    background-image: "../../assets/img/index/cardWeapons.webp";
}
.soundCard{
    @extend .reviewCard;
    background-image: "../../assets/img/index/cardSoundtrack.png",  linear-gradient(180deg, rgba(195,0,96,1) 13%, rgba(21,255,246,1) 100%);
}
.cardFlex:has(.card:hover) .card:not(:hover){
    opacity: 0.5;
}

.card {
    transition: transform .1s, opacity 0.3s;
    transform: scale(1);
    &:hover {
        transform: scale(1.2);
    }
}
