@use "../utilities/mixins";
@use "../utilities/variables";

.maskBox{
    @include mixins.flex(row, flex-start, center);
    margin-bottom: 20px;
    margin-left: 9vw;
    img{
        width: 18vw;
        aspect-ratio: 1;
        object-fit: contain;
        display: flex;
        justify-content: start;
        margin-right: 50px;
    }
}
.backMask{
    position: fixed;
    top: -10px;
    left: 8.9vw;
    bottom: -10px;
    height: auto;
    width: 18vw;   
    background: linear-gradient(90deg, rgba(226,142,23,1) 0%, rgba(229,22,113,1) 100%);
    z-index: -1;
    border: solid white 9px;
    &::before{
        border: solid black 3px;
        content: "";
        position: absolute;
        top: -15px;
        left: -9px;
        right: -9px;
        bottom: -15px;
        z-index: -1;
    }
}
.TAU{
    @include mixins.flex(row, center, flex-end);
    font-family: variables.$typo2;
    color: white;
    text-align: right;
    font-size: 2.5vw;
    margin-left: -2vw;

    margin-top: 20px;
    margin-bottom:20px; 
    margin-right: 20px;
    height: 160px;
}
.description{
    @include mixins.flex(row, flex-start, flex-end);
    font-family: variables.$typo1;
    color: white;
    height: 160px;
    text-align: left;
    font-size: 2.5vw;
    -webkit-text-stroke: 1.5px black;
}