@use "../utilities/mixins";
@use "../utilities/variables";

.mainTitle{
    background-image: url(https://cdn.discordapp.com/attachments/482724249723994122/1066867452857811074/backTitle_WEBP.webp);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-row: 1fr 1fr;
    justify-items: center;
    height: 100vh;
}
.center{
    width: 70vw;
}
.arrow{
    width: 5vw;
    margin-bottom: 20px;
    background-color: lightgray;
    border: solid white 3px;
    border-radius: 15px;
    &:hover{
        transition: .2s;
        transform: translate(0px,-20px);

    }
    &:not(:hover){
        transition: .3s;
    }
}
.HMdescription{
    @include mixins.flex(row, center, center);
    margin-right: 6rem;
    margin-left: 6rem;
    font-family: variables.$typo1;
    color: white;
    font-size: 2.5vw;
    -webkit-text-stroke: 1.5px black;
    text-align: center;
    img{
        height: 12vw;
    }
}
.videoFlex{
    @include mixins.flex(row, center, normal);
    margin-top: 2rem;
    iframe{
        border: solid white 10px;
        border-radius: 60px;
        height: 30vw;
        width: 45vw;
    }
}
.indexBox{
    @include mixins.flex(row, flex-start, center);
    font-family: variables.$typo1;
    color: white;
    font-size: 2.5vw;
    -webkit-text-stroke: 1.5px black;
    margin-right: 6rem;
    margin-left: 6rem;
    text-align: center;
    img{
        height: 14vw;
    }
}
.cardFlex{
    @include mixins.flex(row, center, normal);
    gap: 5vw;
    font-family: variables.$typo1;
    font-size: 3vw;
    color: white;
    -webkit-text-stroke: 2px black;
    margin-bottom: 4rem;
    flex-wrap: wrap;
}
.reviewCard{
    @include mixins.flex(row, center, center);
    width: 6.5em;
    height: 9em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-width: 5px ;
    border-style: solid;
    -webkit-text-stroke: 2px black;
    border-image: linear-gradient( #ff00b5, #00fff0) 1;
    box-shadow: 20px 20px 10px black;
    background-image: url(https://cdn.discordapp.com/attachments/482724249723994122/1059789867657199646/thumb_review.jpg);
}
.maskCard{
    @extend .reviewCard;
    background-image: url(https://media.discordapp.net/attachments/482724249723994122/1059793748285992960/thumb_mask.webp?width=480&height=480), radial-gradient(circle, rgba(255,255,0,1) 60%, rgba(255,122,1,1) 100%);

}
.weaponCard{
    @extend .reviewCard;
    background-image: url(https://media.discordapp.net/attachments/482724249723994122/1059793748659290152/thumb_weapons_resize.jpg?width=339&height=480);
}
.soundCard{
    @extend .reviewCard;
    background-image: url(https://media.discordapp.net/attachments/482724249723994122/1059793748986441788/thumb_soundtrack_alter.png?width=480&height=480),  linear-gradient(180deg, rgba(195,0,96,1) 13%, rgba(21,255,246,1) 100%);
}
.cardFlex:hover > :not(:hover){
    transition: .3s;
    opacity: 0.5;
}
.reviewCard{
    &:hover{
        transition: .3s;
        transform: scale(1.2,1.2);
    }
    &:not(:hover){
        transition: .3s;
    }
}
.maskCard{
    &:hover{
        transition: .3s;
        transform: scale(1.2,1.2);
    }
    &:not(:hover){
        transition: .3s;
    }
}
.weaponCard{
    &:hover{
        transition: .3s;
        transform: scale(1.2,1.2);
    }
    &:not(:hover){
        transition: .3s;
    }
}
.soundCard{
    &:hover{
        transition: .3s;
        transform: scale(1.2,1.2);
    }
    &:not(:hover){
        transition: .3s;
    }
}