@use "../utilities/mixins";
@use "../utilities/variables";
@use "../base/typo";

.maskSection{
    display: flex;
    width: 100%;
    justify-content: center;
}
.maskBox{
    display: flex;
    width: auto;
    gap: 3vw;
}
.imgContainer{
    display: flex;
    width: 250px;
    aspect-ratio: 1;
    object-fit: contain;
    justify-content: center;
}
.pContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    color: white;
    font-size: typo.$font-text;
    gap: 2vw;
}
.maskTitle{
    @include mixins.flex(row, flex-start, center);
    text-align: end;
    font-family: variables.$typo2;
    color: white;
    height: 100%;
}
.maskDescription{
    @include mixins.flex(row, flex-start, center);
    height: 100%;
    font-family: variables.$typo1;
    -webkit-text-stroke: 1.5px black;
    padding-top: .3rem;
}
.backMask{
    position: fixed;
    top: 0;
    height: 100%;
    width: 250px;   
    background: linear-gradient(90deg, rgba(226,142,23,1) 0%, rgba(229,22,113,1) 100%);
    z-index: -1;
    border-right: 9px solid white;
    border-left: 9px solid white;
    &::before{
        border-right: 3px solid black;
        border-left: 3px solid black;
        content: "";
        position: absolute;
        top: -15px;
        left: -9px;
        right: -9px;
        bottom: -15px;
        z-index: -1;
    }
}

.scrollTop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #F765B8;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s;
    &:hover{
        background-color: #00FFEE;
    }
    &:visited{
        font-weight: bolder;
        color: white;
    }
    &:link{
        font-weight: bolder;
        color: white;
    }
}