.maskBox{
    display: flex;
    justify-content: start;
    align-items: center;   
    margin: 20px;
    margin-right: 20px;
    margin-left: 125px;
    img{
        width: 250px;
        aspect-ratio: 1;
        object-fit: contain;
        display: flex;
        justify-content: start;
        margin-right: 50px;
    }
}
.backMask{
    position: absolute;
    top: 50px;
    left: 140px;
    bottom: 40px;
    height: 454rem;
    right: 0px;
    content: "";
    width: 230px;   
    background: linear-gradient(90deg, rgba(226,142,23,1) 0%, rgba(229,22,113,1) 100%);
    z-index: -1;
    border: solid white 9px;
    &::before{
        border: solid black 3px;
        content: "";
        position: absolute;
        top: -15px;
        left: -9px;
        right: -9px;
        bottom: -15px;
        z-index: -1;
    }
}
.TAU{
    font-family: "Justice Condensed Outline";
    color: white;
    display: flex;
    justify-content: center;    
    align-items: flex-end;
    text-align: end;
    font-size: 30px;
    margin: 20px;
    height: 160px;
}
.description{
    font-family: "Justice Italic";
    color: white;
    display: flex;
    height: 160px;
    align-items: flex-end;
    text-align: start;
    font-size: 30px;
    -webkit-text-stroke: 1.5px black;
}